<%= form_for(@feed, html: { multipart: true, class: 'form-horizontal' }) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
      <%= f.label :account, class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.select :account_id, Account.all.collect { |acc| [acc.profile.nick, acc.id] }, {}, class: 'form-control' %>
      </div>
  </div>

  <div class='form-group'>
      <%= f.label :message, class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :message, placeholder: 'message here', class: 'form-control' %>  
      </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-5">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="actions col-md-offset-2">
    <%= f.submit "Save Feed", class: 'btn' %>
  </div>
<% end %>
