<ul class="nav nav-pills">
		<li>
			<%= link_to "Home", root_path %>
		</li>
		
		<li>
			<%= link_to "Feeds", feeds_path %>
		</li>
		
		<li>
			<%= link_to "Notifications", notification_path %>
		</li>
		
		<li>
			<%= link_to "Accounts", accounts_path %>
		</li>
		
		<li>
			<%= link_to "Profiles", profiles_path %>
		</li>
		
		<li>
			<%= link_to "Social/Search", social_around_form_path %>
		</li>

</ul>